<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>DFF Stock Prediction Tool</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>DFF Stock Prediction Tool</h1>
    <h2>Choose a Stock:</h2>
    </div>

    <div style="text-align: center";>

<form action="/get_data" method="post">

<select name="stock">
    {% for stock in stock_list %}
        <option value="{{ stock }}" SELECTED>{{ stock }}</option>
    {% endfor %}

</select>

<button type="submit" class = "get_data" onclick="function show_function() {
    var x = document.getElementById("ml_zone");
      if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
}
" >Get Data</button>
        </form>

</br>
</br>


{% if ticker %}
<h2>{{ticker}}</h2>
{%endif%}

<div id='price_chart' class='chart'”></div>

<div id='vol_chart' class='chart'”></div>

<div id='ma_chart' class='chart'”></div>

<div id="ml_zone" >
    <button type="submit" class = "predict">Run Prediction</button>
</div>



</div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ priceJSON | safe }};
  Plotly.plot('price_chart',graphs,{});
</script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ volJSON | safe }};
  Plotly.plot('vol_chart',graphs,{});
</script>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ maJSON | safe }};
  Plotly.plot('ma_chart',graphs,{});
</script>





</html>